.button{
    display: none;
}

.label{
    position: relative;
    cursor: pointer;
}

.button:checked+.label .imageContainer{
    border-radius: 0.1875rem;
        border: 1px solid rgba(0, 0, 0, 0.50);
        background: rgba(0, 0, 0, 0.50);
        filter:brightness(50%);
}
.button:hover+.label .imageContainer {
    border-radius: 0.1875rem;
        border: 1px solid rgba(0, 0, 0, 0.50);
        background: rgba(0, 0, 0, 0.50);
        filter: brightness(50%);
}
.word {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* 여기서의 위치는 .label 내부 기준으로 적용됩니다. */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 0.5625rem;
    font-size: clamp(0.5625rem, 2vw, 0.875rem);
    pointer-events: none;
    /* 클릭 이벤트가 .word를 통과하여 .label에 도달하도록 합니다. */
}
