.grid .alink {
    flex-direction: column;
    width: "19.31rem";
    height: "17.5rem";
    position: relative;
}

.grid .contentsImg {
    width: 19.8rem;
    height: 11rem;
    background-color: #D9D9D9;
    border-radius: 0.1875rem;
}

.grid .contentsName {
    width: 16.81rem;
    margin-top: 1.06rem;
    color: #222;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.13rem;
}

.grid .idtime {
    color: #9D9D9D;
    font-size: 1rem;
    font-weight: 400;
}

.grid .tags {
    margin-top: 0.63rem;
    display: flex;
    gap: 0.31rem;
    overflow: hidden;
    width: 17.41rem;
    flex-wrap: wrap;
    position: relative;
    height: 2.1rem;
    /* 스크롤 방지 */
}

.pivotPosition {
    position: relative;
}

.grid .dotPosition {
    display: none;
    position: absolute;
    right: 0;
    top: 11.4rem;
}

.grid .favoriteCheckbox {
    display: none;
    width: 2rem;
    height: 2rem;
    background: rgba(47, 47, 47, 0.50);
    border-radius: 0.19rem;
    position: absolute;
    top: 0.62rem;
    right: 0.625rem;
    cursor: pointer;

}

.grid .location {
    display: none;
}

.grid .createTime {
    display: none;
}

.pivotPosition:hover .dotPosition,
.pivotPosition:hover .favoriteCheckbox {
    display: flex !important;
}


.list.pivotPosition:hover .alink {
    border-radius: 0.1875rem;
    border: 0.11rem solid #7E73FE;
    background: rgba(240, 238, 255, 0.40);
}

/* 
.list .dotPosition:focus+.alink {
    border-radius: 0.1875rem;
    border: 0.11rem solid #7E73FE;
    background: rgba(240, 238, 255, 0.40);
} */


.list .alink {
    flex-direction: row;
    height: 5.935rem;
    width: 87.87rem;
    align-items: center;
    border-radius: 0.1875rem;
    border: 0.11rem solid transparent;
    position: relative;
    background: rgba(250, 250, 250, 0.50);
}

.list .clickedDiv {
    border-radius: 0.1875rem;
    border: 0.11rem solid #7E73FE;
    background: rgba(240, 238, 255, 0.40);
}

/* 
.list .alink:hover {
    border-radius: 0.1875rem;
    border: 0.11rem solid #7E73FE;
    background: rgba(240, 238, 255, 0.40);
} */

.list .contentsImg {
    width: 6.56rem;
    height: 3.69rem;
    background-color: #D9D9D9;
    border-radius: 0.1875rem;
    margin: 1.125rem 1.875rem 1.125rem 1.44rem;
    order: 0;
}


.list .contentsName {
    width: 14.435rem;
    margin-top: 0;
    color: #222;
    font-size: 1.125rem;
    font-weight: 500;
    order: 1;
    text-overflow: ellipsis;
}

.list .idtime {
    width: 10.625rem;
    order: 5;
    color: #222;
    font-family: "Noto Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list .tags {
    width: 17.41rem;
    margin-top: 0;
    display: flex;
    gap: 0.31rem;
    order: 2;
    overflow: hidden;
    flex-wrap: wrap;
    height: 2.1rem;
    position: relative;
    /* 스크롤 방지 */
}

.list .location {
    display: flex;
    width: 23.125rem;
    color: #222;
    font-family: "Noto Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    line-height: normal;
    order: 3;

}

.list .createTime {
    width: 8.87rem;
    color: #222;
    font-family: "Noto Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    order: 4;
}

.list .dotPosition {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.dotPosition:hover {
    background: #E6E6E6;
    border-radius: 50%;
}

.list .favoriteCheckbox {
    display: none;
    width: 2rem;
    height: 2rem;
    background: rgba(47, 47, 47, 0.50);
    border-radius: 0.19rem;
    position: absolute;
    top: 1.38rem;
    left: 5.85rem;
    cursor: pointer;
}

.clickedDiv .dotPosition {
    display: flex;
}

.clickedDiv .favoriteCheckbox {
    display: flex;
}

.list {
    height: 5.935rem;
}

.grid .tagellipsis {
    position: absolute;
    cursor: pointer;
    top: 15.63rem;
    display: inline-flex;
    display: none;
    padding: 0.375rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border: 0.11rem solid transparent;
    border-radius: 3.125rem;
    background: #FFF;
}

.list .tagellipsis {
    position: absolute;
    cursor: pointer;
    top: 50%;
    display: inline-flex;
    display: none;
    padding: 0.375rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 3.125rem;
    border: 0.11rem solid transparent;
    background: #F1F1F1;
    transform: translateY(-50%) translateX(24.31rem);
}

.tagellipsisBox {
    position: absolute;
    display: none;
    z-index: 8;

    background: #7E73FE;
    padding: 1.1875rem 1rem;
    padding-right: 3.25rem;
    min-height: 4.25rem;
    max-width: 27.44rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 0.31rem;
    border-radius: 0.1875rem;
    background: #FFF;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}

.grid .tagellipsisBox {
    bottom: 0;
    transform: translateY(100%);
}

.list .tagellipsisBox {
    left: 24.31rem;
    top: 50%;
    transform: translateY(25%);
}

.tagellipsis:focus {
    border: 0.11rem solid #7E73FE;
}

.tagellipsis:focus+.tagellipsisBox {
    display: flex;
}

.tagEllipsisCancel {
    position: absolute;
    top: 1.1875rem;
    right: 1rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    cursor: pointer;
}

.tagEllipsisCancel:hover {
    background: #DFDFDF;
}

.icon:hover {
    background: #E6E6E6;

}